<h1 mat-dialog-title>Login</h1>

<div mat-dialog-content [formGroup]="loginForm">
  <p>User name</p>
  <mat-form-field>
    <input matInput formControlName="username" />
  </mat-form-field>
  <p>Password</p>
  <mat-form-field>
    <input matInput type="password" formControlName="password"  />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">cancel</button>
  <button mat-button (click)="onLogin()" cdkFocusInitial>Login</button>
</div>
