<div class="container">
  <form>
    <input class="form-controll" name="name" [(ngModel)]="query" />
    <button (click)="search()">search</button>
  </form>

  <div class="row">
    <div class="col col-lg-2">
      <div *ngIf="artists$ | async as artists; else loading" class="card-group">
        <div *ngFor="let artist of artists">
          <app-artist-profile [artist]="artist">
            <a class="btn btn-primary" [routerLink]="['artist', artist.id]">Show Songs</a>
          </app-artist-profile>
        </div>
      </div>
      <ng-template #loading let-user>Waiting...</ng-template>
    </div>
    <div class="col-sm">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
