<div class="container">
  <div class="row">
    <div class="col col-lg-3">

      <a class="btn btn-block btn-primary" [routerLink]="[ 'add' ]">add</a> <br>

      <a [routerLink]="[ song.id ]" *ngFor="let song of songs$ | async">{{song.title}}<br></a>


    </div>
    <div class="col col-lg-9">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>
