
<ng-container *ngIf="artist$ | async as artist; else elseTemplate">

  <app-artist-profile [artist]="artist">
    <a class="btn btn-primary" [routerLink]="['../../artist-edit', artist.id]">edit</a>
  </app-artist-profile>

  <app-map [artist]="artist"></app-map>

</ng-container>

<ng-template #elseTemplate>
  Loading...
</ng-template>
