<div class="container">
  <div class="row">
    <div class="col col-lg-4">


      <p>
        <span appHighlight>Highlight directive</span><br><br>
        <span appHighlight>Highlight directive</span><br><br>
        <span appHighlight>Highlight directive</span><br><br>
      </p>


      <div *ngIf="playlists$ | async as playlists; else loading" class="list-group">
        <ng-container *ngFor="let playlist of playlists">

          <app-playlist-item [playlist]="playlist"></app-playlist-item>

        </ng-container>
      </div>
      <ng-template #loading let-user>Waiting...</ng-template>
      <form class="form-inline">

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="add playlists" [formControl]="name" />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="add()">add</button>
          </div>
        </div>

      </form>
      <button (click)="playlistService.reload$.next('RELOAD')">reload</button>
    </div>
    <div class="col col-lg-8">
      <router-outlet></router-outlet>

    </div>
  </div>
</div>
<router-outlet name="modals"></router-outlet>
