<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{artist.img | imageBaseUrl}}" alt="{{artist.name}}" onerror="this.onerror=null;this.src='https://placeimg.com/200/200/animals';">
  <div class="card-body">
    <h5 class="card-title">{{artist.name}}</h5>
    <p class="card-text">
      <!-- Location: <br> {{artist.location.lat}}, {{artist.location.lng}} -->
    </p>
     <ng-content></ng-content>
  </div>
</div>
