<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">

    <a class="navbar-brand" routerLink="">Spotify</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="music/search" routerLinkActive="active">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="music/playlists" routerLinkActive="active">Playlists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="music/songs" routerLinkActive="active">Songs</a>
        </li>



        <li class="nav-item">
          <ng-container *ngIf="userService.user$ | async as user; else elseTemplate">
            <a class="nav-link">{{user.name}} <span (click)="userService.logout()">[logout]</span></a>
          </ng-container>
          <ng-template #elseTemplate>
            <a class="nav-link" appLogin>Login</a>
          </ng-template>

        </li>

        <li class="nav-item">
          <a class="nav-link" *ngIf="userService.idleTime$ | async as time">
            idle time: <b>{{time}}s</b>
            <span *ngIf="time < 3" (click)="userService.refreshButtonClick$.next()">REFRESH</span>
          </a>
        </li>

        <li class="nav-item" *appIsAdmin="userService.user$ | async" >
          <a class="nav-link" >ADMIN</a>
        </li>




        <li class="nav-item" *ngIf="isLoading">
            <a class="nav-link" >Route Loading...</a>
          </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row mt-3">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
