<ng-container *ngIf="!edit">
  <a class="list-item" [routerLink]="['songs', playlist.id]" routerLinkActive="active">{{playlist.name}}</a>
  <button class="btn" (click)="onEdit()">edit</button>
</ng-container>

<form *ngIf="edit" class="form-inline" (ngSubmit)="onSave()">

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="add playlists" [formControl]="name" />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="onCancel()">X</button>
    </div>
  </div>

</form>
