<form (ngSubmit)="onSubmit()" [formGroup]="songForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" formControlName="title">
    <small id="emailHelp" class="form-text text-muted">The cool song name...</small>
  </div>
  <div class="form-group">
    <label for="year">Year</label>
    <input type="number" class="form-control" id="year" formControlName="year">
  </div>
  <label>Genders</label>

  <div formArrayName="genders">
    <div *ngFor="let gender of genders.controls; let i=index">
      <div class="form-group">
        <input type="text" class="form-control" [formControlName]="i" />
        <button type="button" class="btn btn-default" (click)="removeGender(i)">X</button>

      </div>
    </div>
    <button type="button" class="btn btn-default" (click)="addGender()">add gender</button>

  </div>

  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="favorite" formControlName="favorite">
    <label class="form-check-label" for="favorite">my favorite</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button (click)="cancel.next()" type="button" class="btn btn-default">cancel</button>
</form>
