<form [formGroup]="artistForm">

  <input type="hidden" formControlName="id">

  <label>
    Name:
    <input type="text" formControlName="name">
  </label>

  <label>
    Image:
    <input type="text" formControlName="img">
  </label>

  <button (click)="save()">SAVE</button>
</form>

