
<div *ngIf="song$ | async as song">

  <div *ngIf="!edit">
      song title: {{song.title}} <button (click)="onEdit()">edit</button>
  </div>

  <div *ngIf="edit">
      <app-song-edit-form [song]="song" (cancel)="onEditCancel()"></app-song-edit-form>
  </div>

</div>
